* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.icon_global {
  display: inline-block;
  overflow: hidden;
  font-size: 1px;
  color: transparent;
  line-height: 0;
  vertical-align: top;
}

.outer_cell {
  display: table;
}

.inner_cell {
  display: table-cell;
  vertical-align: middle;
}

.widget_media {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
